.connect-avatar {
    padding-top: 100%;
    background-color: white;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transform: rotate(-2.5deg);
 


    &::after {
        background-image: url('https://images.saymedia-content.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:eco%2Cw_1200/MTc5NjQ1ODEzMTgwNDA5Njc0/the-tragedy-of-eren-yeager-how-the-character-changes-throughout-attack-on-titan.jpg');
        content: '';
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        border-radius: 6px;
        background-size: cover;
    }
}
.connect-disc{
    background-color: #1875f0;
    transition: 250ms;
    border-radius: 50%;
    display: block;
    padding-top: 100%;
    position: relative;
    transition: 250ms;
    cursor: pointer;

[for="connect-label-reset"] {
    width: 40px;
    color: white;
}

    [class^="icon-"] {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        font-size: 8vw;
        justify-content: center;
        align-items: center;
    }
}
.connect-radio:checked + .column .connect-disc {
    background-color: #d52027;
}
.description-box-arrow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background-color:white;
    padding: 20px;

}
.description-box-header {
    padding: 10px;
    display: flex;
}
.description-box-title {
flex-grow: 1;
line-height: 30px;
font-weight: 500;
font-size: 22px;
text-transform: capitalize;
}
.description-box-body, 
.description-box-footer {
    padding: 20px;

}
.description-box-body {
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
}
.description-box-pharagraph {
    font-size: 14px;
    line-height: 30px;
}