.column(span="row")
    .title-section-wrapper
        .title-section=titleSection 
.column(span="row" height="10")
.column(span="row")
    button.disc-button-red
        i.icon-youtube  
.column(span="row" height="10")