.column(span="row")
    .title-section Welcome to my awesome CV 
.column(span="row")
    button.disc
        i.icon__youtube  
        span.text-button Youtube
.column(span="row")
    h1 Cosmin Negrut 
.column(span="row")
    h2 Web Developer 
.column(span="row")
    h3 Info about me 
.column(span="row")
    .description-box-shadow
        p I want to become a Web Developer because I wish to innovate and design. 
        p  I like coding and I want to become a Full Stack Developer
.column(span="row")
    button.pill-button
        i.icon-download  
        span.text-button Get my CV
.column(span="row")
    button.disc
        icon-arrow-down 
        span.text-button AD

