.title-section {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    position: relative;
    font-size: 24px;
    font-weight: 600;
}
.title-section-wrapper {
    padding: 10px;
    height: 60px;
    background-color: #d52027;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    position: relative;

    &::before {
        position:absolute;
        content: "";
        background-color: #d52027;
        left: -36px;
        top: 0;
        bottom: 0;
        right: -36px;
    }
    &::after {
        position:absolute;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        content: "";
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

.about-me-main-title,
.about-me-sub-title {
    font-weight: 600;
    color: #707070;
    text-align: center;
}
.about-me-main-title {
    font-size: 48px;
    line-height: 64px;
   
}
.about-me-sub-title {
    font-size: 36px;
    line-height: 64px;
}
.about-me-info {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600px;
    color: #808080;
}
.description-box-shadow {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 6px;
}
.description {
    font-size: 14px;
    color: #707070;
    font-weight: 600px;
    line-height: 30px;

}
.disc-button-red {
    background-color: #d52027;
}
.disc-button-green {
    background-color: #50d166;
}
.disc-button-red,
.disc-button-green {
    width: 40px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    color: #fff;
    align-items: center;
}
.pill-button-blue {
    height: 40px;
    margin: 0 auto ;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: bolder;
    
}
button[class^="pill-button"] i[class^="icon-"] {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pill-button-blue {
    background-color: #1875f0;
}
.column[height="10"]{
    height: 10px;
}